<header id="content-header">
  <div id="price-container">
    <span class="glyphicon glyphicon-tag"></span><span class="price">$9.99</span>
  </div>
  <%= image_tag "header-image.jpg", alt: "Learn Growth Hacking" %>
</header>